# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environments
env/
venv/

# Distribution artifacts
*.egg-info/
dist/
build/

# IDE settings
.idea/
.vscode/

# Logs and temporary files
*.log
*.tmp
